---
name: Python unit tests

on:
  pull_request:


jobs:
  test:
    name: Unit tests on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    env:
      # Dummy values needed for tests
      DATAROBOT_API_TOKEN: token
      DATAROBOT_ENDPOINT: endpoint
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r requirements.txt
      - name: Run tests
        run: |
          pytest tests -q
